
EstimationScript/Main_bortavaror_1_Separateparameter_FullVariables.m
EstimationScript/Main_bortavaror_1_Final.m
EstimationScript/Main_bortavaror_1_FinalModel20210820.m
EstimationScript/Main_bortavaror_1_FinalModel20210823.m
EstimationScript/Main_bortavaror_1_FinalModel20210824.m
EstimationScript/Main_bortavaror_1_FinalModel20210827.m
EstimationScript/Main_bortavaror_1_FinalModelNu.m
EstimationScript/Main_bortavaror_1_InkomstSampers_ReducedVariables.m
EstimationScript/Main_bortavaror_1_NoInkomstSampers_ReducedVariables.m
EstimationScript/Main_bortavaror_1_Sampersparameter_FullVariables.m
EstimationScript/Main_bortavaror_1_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_1_Separateparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_2_InkomstSampers_ReducedVariables.m
EstimationScript/Main_bortavaror_2_InkomstSampers_SeparateInVehParameters.m
EstimationScript/Main_bortavaror_2_NoInkomstSampers_SeparateInVehParameters.m
EstimationScript/Main_bortavaror_2_Sampersparameter_SeparateInVehParameters.m
EstimationScript/Main_bortavaror_2_Separateparameter_FullVariables.m
EstimationScript/Main_bortavaror_2_Separateparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_2And3_FinalModel20210820.m
EstimationScript/Main_bortavaror_2And3_FinalModel20210823.m
EstimationScript/Main_bortavaror_2And3_FinalModel20210824.m
EstimationScript/Main_bortavaror_2And3_FinalModel20210827.m
EstimationScript/Main_bortavaror_2And3_FinalModelNu.m
EstimationScript/Main_bortavaror_3_FinalModel.m
EstimationScript/Main_bortavaror_3_InkomstSampers_ReducedVariables.m
EstimationScript/Main_bortavaror_3_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_3_Separateparameter_FullVariables.m
EstimationScript/Main_bortavaror_3_Separateparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_4_FinalModel20210820.m
EstimationScript/Main_bortavaror_4_FinalModel20210823.m
EstimationScript/Main_bortavaror_4_FinalModel20210824.m
EstimationScript/Main_bortavaror_4_FinalModel20210827.m
EstimationScript/Main_bortavaror_4_FinalModelNu.m
EstimationScript/Main_bortavaror_4_InkomstSampers_ReducedVariables.m
EstimationScript/Main_bortavaror_4_NoInkomstSampers_ReducedVariables.m
EstimationScript/Main_bortavaror_4_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_4_Separateparameter_FullVariables.m
EstimationScript/Main_bortavaror_4_Separateparameter_ReducedVariables.m
EstimationScript/Main_resGenerering.m
EstimationScript/Main_resGenerering_2.m
EstimationScript/Main_bortavaror_1_Final.m
EstimationScript/Main_bortavaror_1_Sampersparameter_FullVariables.m
EstimationScript/Main_bortavaror_1_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_2_Sampersparameter_SeparateInVehParameters.m
EstimationScript/Main_bortavaror_3_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_4_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_4_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_3_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_2_Sampersparameter_SeparateInVehParameters.m
EstimationScript/Main_bortavaror_1_Sampersparameter_ReducedVariables.m
EstimationScript/Main_bortavaror_1_Sampersparameter_FullVariables.m
EstimationScript/Main_bortavaror_1_Final.m
